<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rclark.atvtabletlauncher">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-permission android:name="nvidia.atv.rs_mouse" />

    <application
        android:allowBackup="true"
        android:launchMode="singleTask"
        android:clearTaskOnLaunch="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Leanback">

        <activity
            android:name=".MainActivity"
            android:banner="@drawable/ic_tablet"
            android:icon="@drawable/ic_tablet"
            android:label="@string/app_name"
            android:logo="@drawable/ic_tablet"
            android:launchMode="singleTask"
            android:stateNotNeeded="true"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
